/* AdminPage.css */

.admin-page {
    /* margin-top: 100px; */
  background-image: url("/banner.png");
  background-blend-mode:darken;
  background-color:rgba(0, 0, 0, 0.607);
  background-repeat: no-repeat;
  background-attachment:local;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: #ccc;
  padding: 24px;
  font-family: Arial, sans-serif;
}

.admin-page h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.section {
    background-color: #000000ab;
  border: none !important;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.section h2 {
  font-weight: bold;
  margin-bottom: 8px;
}

.section input,
.section select {
  border: 1px solid #ccc;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
}

.button {
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(244, 244, 244);
}

.create-button {
  background-color: #3f9a56 !important;
}
.create-button:hover {
  background-color: #048524 !important;
}

.delete-button {
  background-color: #dc3545;
}
.delete-button:hover {
  background-color: #bf1425;
}

table{
  width: 100%;
  border-collapse: collapse;
  background-color: #26263956 !important;
  
}
tr:hover{
  background-color: rgba(11, 11, 16, 0.812) !important;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px 1px 8px 8px;
  text-align: left;
}

th {
  background-color: #181827cf !important;
  color: #ccc !important;
}

select:hover{
  background-color: #d8d8d8cf !important;
}

