.logo{
    width: 100px;
    height: auto;
}

nav{
    position: fixed;  
    top: 0;
    width: 100%;
    height: 60px;  /* Fixed height */
    background-color: black;
    z-index: 1000; 
}

#search-button{
    width: 20px;
    height: 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0%;
    cursor: pointer;
}
/*.search-icon{
    padding: 0%;
    text-align: center;
    display:inherit;
}*/

#login-button {
    margin-top: 40px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:#4a4e69;
    cursor: pointer;
    transition: border-color 0.25s;
}