.banner {
    width: 100%; 
    border: 0px;  
    padding: 0px;
    background-image: url("/banner.png");
    background-color:#000000;
    filter: grayscale(0%);
    min-height:400px;
     background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      /*background-size: cover;*/
      background-size:contain;
      /*justify-content:space-evenly;*/
    
    }